*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cf:before,
.cf:after{
	content: "";
	display: table;
}

.cf:after{
	clear: both;
}

.primary-color{
	color: darkseagreen;
}

.secondary-color{
	color: mediumseagreen;
}

a{
	text-decoration: none;
	cursor: pointer;
}

.overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	width: 100vw;
	height: 100vh;
	z-index: 30;
	transition: opacity .3s;
}

.overlay-dark{
	background-color: rgba(0,0,0,1);
}


/* BUTTON STYLES ------------------------------------------------------- */
/*-----------------------------------------------------------------------*/

button{		/* Generic style of all buttons */
	padding: 12px 20px;
	border: none;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease-in-out; 
	font-size: 16px;
	font-weight: 400;
	border-radius: 5px;
	letter-spacing: .5px;
}

button:hover{
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

button i{
	padding-left: 10px;
}

button.details{ /* the details button in the produc card */
	background-color: steelblue; 
}

button.details:hover{
	background-color: dodgerblue;
}


/* SYSTEM MESSAGES ----------------------------------------------------- */
/*-----------------------------------------------------------------------*/

.error{
  display: none;
  color: #a94543;
  background-color: #f9f0f2;
  border: thin solid #ffaec0;
  width: 100%;
  padding: 10px;
}

.success{
  background-color: #dff0d8;
  color: green;
  width: 100%;
  padding: 10px;
  border: thin solid #96c583;
  display: none;
  line-height: 24px;
}

.success a{
  font-weight: 700;
  color: green;
}

.success a:hover{
  text-decoration: underline;
}


/* EFFECTS ------------------------------------------------------------- */
/*-----------------------------------------------------------------------*/

.fade-out{
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.fade-in{
  opacity: 1;
  transition: opacity .3s ease-in-out;
}


/* TEXT ---------------------------------------------------------------- */
/*-----------------------------------------------------------------------*/

a.brand{
	font-size: 18px;
	padding-top: 20px;
	color: #333 !important;
}

.info{
  color: #888;
  margin-bottom: 10px;
  line-height: 26px;
}

.info span{
  color: #333;
  font-weight: 700;
}

.info a{
 color: #333;
font-weight: 700;
text-decoration: underline;
}

.info a:hover{
  text-decoration: none;
}


/* FORM ELEMENTS ------------------------------------------------------- */
/*-----------------------------------------------------------------------*/

.block{
	margin-bottom: 20px;
}

label{
	margin-bottom: 8px;
}

select{
	padding: 10px;
	margin-bottom: 5px;
}

input[type=text],
input[type=password],
input[type=email]
{
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
}

input[type=submit]{
	padding: 10px 0;
	background-color: #333;
	border: none;
	color: #d4d4d4;
	margin-top: 10px;
	width: 40%;
}

input[type=submit]:hover{
	background-color: #111;
}

textarea{
  width: 100%;
  min-height: 150px;
  resize: none;
  padding: 10px;
  font-family: "open-sans", sans-serif;
  font-size: 15px; 
}


/* HTML & BODY --------------------------------------------------------- */
/*-----------------------------------------------------------------------*/

html{
	scroll-behavior: smooth;
}

body{
	font-size: 14px;
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background-color: #fff;
	color: #333;
}

.page{
  max-width: 1200px;
  margin: 0 auto;
}

/* NAVIGATION --------------------------------------------------------- */
/*-----------------------------------------------------------------------*/

.nav-wrap{
	/*background-color: mediumseagreen;*/
	/*background-color: black;*/
	border-bottom: 1px solid #d4d4d4;
}

.nav-wrap .mobile-nav{
	background-color: white;
	width: 300px;
	height: 100vh;
	transform: translateX(-120%);
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	transition: transform 0.3s ease-in-out;
}

.nav-wrap .mobile-nav a{
	display: block;
	padding: 15px 25px;
	color: #888;
	border-bottom: thin solid #e4e4e4;
	font-weight: 600;
}


.nav-wrap .mobile-nav a i{
	padding-right: 15px;
}

nav{
	display: flex;
	justify-content: space-between;
	color: #333;
	padding: 15px;
}

.nav-wrap i{
	padding-right: 3px;
	color: #555;
	font-size: 13px;
	/*display: none;*/
}

nav .left{
	font-size: 18px;
	line-height: 36px; /* to center the brand name */
	font-weight: 600;
}

nav .right{
	display: flex;
}

nav .middle{
	display: none;
}


nav .middle a,
nav .icons div{
	padding: 10px 15px;
}

nav .icons{
	display: flex;
}

nav .icons div{
	cursor: pointer;
}

nav .cartItems{
	position: relative;
}

nav .icons .nav-badge{
	position: absolute;
	width: 21px;
	height: 21px;
	background-color: steelblue;
	text-align: center;
	line-height: 21px;
	border-radius: 50%;
	bottom: 25px;
	right: 5px;
	color: white;
	font-weight: 600;
}

/* media queris */
@media screen and (min-width: 860px) {
	.nav-wrap .mobile-nav{
		display: none;
	}

	nav .middle{
		display: flex;
		background-color: inherit;
	}

	nav .middle a{
		color: #888;
		font-weight: 600;
		font-size: 13px;
		position: relative;
	}

	nav .middle a::after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 0%;
		background: #aaa;
		height: 2px;
		transition: all 0.3s ease;
	}

	nav .middle a:hover{
		color: #333;
	}

	nav .middle a:hover::after{
		width: 100%;
	}

	nav .icons div:last-child{
		display: none;
	}
}

/* LOGIN FORM, REGISTER FORM ------------------------------------------- */
/*-----------------------------------------------------------------------*/

.login-screen, .register-screen, .cart-screen{
	background-color: white;
	width: 50vw;
	height: 100vh;
	transform: translateX(100%);
	z-index: 99;
	position: fixed;
	top: 0;
	right: 0;
	transition: transform 0.3s ease-in-out;
}